*{
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}

div, a, nav, table{
	line-height: 1.8;
}

body{
  background-color: #E8F6F7;
  color: #0B1314;
}

/* Inicio */

.box{
	margin: 0 auto;
	background-color: #E8F6F7;
	display: flex;
	box-shadow: 0 0 10px #bbb;
	border-radius: 5px;
}

.menu-inicial{
	width: 50em;
	margin-top: 10em;
	padding: 5em;
	justify-content: space-between;
}


.menu-inicial a{
	text-decoration: none;
}
.menu-inicial__titulo{
	padding: 0.5em 0.8em;
}
.link-button{
	background-color: #E0F3F5;
	color: #0B1314;
	padding: 0.5em 0.8em;
	box-shadow: 2px 2px 2px #bbb;
	border-radius: 5px;

}
